## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN'
app_df = application_df.drop(columns=['EIN'])
app_df.head()

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
app_df.nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
app_type = app_df['APPLICATION_TYPE'].value_counts()
app_type

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(app_type[app_type < 500].index)

# Replace in dataframe
for app in application_types_to_replace:
    app_df['APPLICATION_TYPE'] = app_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
app_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
class_type = app_df['CLASSIFICATION'].value_counts()
class_type

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_type_min = class_type[class_type>1]
class_type_min

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(class_type_min[class_type_min < 1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    app_df['CLASSIFICATION'] = app_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
app_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2235
C3000     1918
C2100     1883
C1370        1
C1236        1
C2190        1
C4200        1
C5200        1
C1248        1
C2600        1
C1580        1
C6100        1
C1820        1
C1900        1
C2570        1
C1570        1
C3700        1
C2500        1
C1283        1
C2380        1
C1732        1
C1728        1
C2170        1
C4120        1
C8210        1
C4500        1
C1245        1
C2561        1
C2150        1
Name: CLASSIFICATION, dtype: int64

In [9]:
# Look at NAME value counts for binning
name_type = app_df['NAME'].value_counts()
name_type

PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: NAME, Length: 19568, dtype: int64

In [26]:
# Look at NAME value counts
#name_type_min = name_type[name_type>1]
#name_type_min

PARENT BOOSTER USA INC                                            1260
TOPS CLUB INC                                                      765
UNITED STATES BOWLING CONGRESS INC                                 700
WASHINGTON STATE UNIVERSITY                                        492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                    408
                                                                  ...
VETERANS OF FOREIGH WARS OF THE UNITED STATES DEPT OF COLORADO       2
ETA PHI BETA SORORITY INC                                            2
POINT MAN INTERNATIONAL MINISTRIES                                   2
MULTI COMMUNITY DIVERSIFIED SERVICES INC                             2
VETERANS OF FOREIGN WARS AUXILIARY                                   2
Name: NAME, Length: 792, dtype: int64

In [11]:
# Choose a cutoff value and create a list of names to be replaced
names_to_replace = list(name_type[name_type < 2].index)

# Replace in dataframe
for name in names_to_replace:
    app_df['NAME'] = app_df['NAME'].replace(name,"Other")

# Check to make sure binning was successful
app_df['NAME'].value_counts()

Other                                                                 18776
PARENT BOOSTER USA INC                                                 1260
TOPS CLUB INC                                                           765
UNITED STATES BOWLING CONGRESS INC                                      700
WASHINGTON STATE UNIVERSITY                                             492
                                                                      ...
WASHINGTON EXPLORER SEARCH AND RESCUE                                     2
INTERNATIONAL ALLIANCE THEATRICAL STAGE EMPLOYEES & MOVING PICTURE        2
BIRTH NETWORK                                                             2
NATIONAL ASSOCIATON OF CORPORATE DIRECTORS                                2
NATIONAL SOCIETY COLONIAL DAMES XVII CENTURY                              2
Name: NAME, Length: 793, dtype: int64

In [12]:
# Convert categorical data to numeric with `pd.get_dummies`
app_dummies_df = pd.get_dummies(app_df)
app_dummies_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_4-H CLUBS & AFFILIATED 4-H ORGANIZATIONS,NAME_AACE INTERNATIONAL,NAME_ACADEMY OF GENERAL DENTISTRY,NAME_ACADEMY OF MANAGED CARE PHARMACY,NAME_ACE MENTOR PROGRAM OF AMERICA INC,NAME_ACTIVE 20-30 UNITED STATES AND CANADA,NAME_ACTS MINISTRY,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [13]:
# Split our preprocessed data into our features and target arrays
# Separate the y variable, the labels
y = app_dummies_df['IS_SUCCESSFUL']

# Separate the X variable, the features
X = app_dummies_df.drop(columns='IS_SUCCESSFUL')

# Split the preprocessed data into a training and testing dataset
# Split the data using train_test_split
# FOLLOW UP: What should the random state be???
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [14]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [20]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=80, activation="relu", input_dim=862))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=55, activation="relu"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=30, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_8 (Dense)             (None, 80)                69040

 dense_9 (Dense)             (None, 55)                4455

 dense_10 (Dense)            (None, 30)                1680

 dense_11 (Dense)            (None, 1)                 31

=================================================================
Total params: 75206 (293.77 KB)
Trainable params: 75206 (293.77 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [21]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [22]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 4s 4ms/step - loss: 0.4712 - accuracy: 0.7809
Epoch 2/50
804/804 [==============================] - 3s 4ms/step - loss: 0.4174 - accuracy: 0.8044
Epoch 3/50
804/804 [==============================] - 3s 4ms/step - loss: 0.4114 - accuracy: 0.8062
Epoch 4/50
804/804 [==============================] - 4s 5ms/step - loss: 0.4088 - accuracy: 0.8074
Epoch 5/50
804/804 [==============================] - 2s 3ms/step - loss: 0.4057 - accuracy: 0.8096
Epoch 6/50
804/804 [==============================] - 2s 3ms/step - loss: 0.4046 - accuracy: 0.8090
Epoch 7/50
804/804 [==============================] - 2s 3ms/step - loss: 0.4032 - accuracy: 0.8097
Epoch 8/50
804/804 [==============================] - 3s 3ms/step - loss: 0.4031 - accuracy: 0.8102
Epoch 9/50
804/804 [==============================] - 4s 5ms/step - loss: 0.4020 - accuracy: 0.8109
Epoch 10/50
804/804 [==============================] - 2s 3ms/step - loss: 0.4008 - accuracy: 0.8116
Epoch 11/50
804/804 [==============================] - 2s 3ms/step - loss: 0.4005 - accuracy: 0.8107
Epoch 12/50
804/804 [==============================] - 2s 3ms/step - loss: 0.3999 - accuracy: 0.8124
Epoch 13/50
804/804 [==============================] - 2s 3ms/step - loss: 0.3989 - accuracy: 0.8130
Epoch 14/50
804/804 [==============================] - 3s 4ms/step - loss: 0.3981 - accuracy: 0.8130
Epoch 15/50
804/804 [==============================] - 3s 4ms/step - loss: 0.3974 - accuracy: 0.8126
Epoch 16/50
804/804 [==============================] - 2s 3ms/step - loss: 0.3971 - accuracy: 0.8142
Epoch 17/50
804/804 [==============================] - 2s 3ms/step - loss: 0.3966 - accuracy: 0.8138
Epoch 18/50
804/804 [==============================] - 2s 3ms/step - loss: 0.3956 - accuracy: 0.8142
Epoch 19/50
804/804 [==============================] - 3s 3ms/step - loss: 0.3957 - accuracy: 0.8141
Epoch 20/50
804/804 [==============================] - 4s 5ms/step - loss: 0.3948 - accuracy: 0.8152
Epoch 21/50
804/804 [==============================] - 2s 3ms/step - loss: 0.3938 - accuracy: 0.8153
Epoch 22/50
804/804 [==============================] - 2s 3ms/step - loss: 0.3941 - accuracy: 0.8150
Epoch 23/50
804/804 [==============================] - 2s 3ms/step - loss: 0.3934 - accuracy: 0.8151
Epoch 24/50
804/804 [==============================] - 2s 3ms/step - loss: 0.3931 - accuracy: 0.8165
Epoch 25/50
804/804 [==============================] - 4s 4ms/step - loss: 0.3929 - accuracy: 0.8160
Epoch 26/50
804/804 [==============================] - 3s 4ms/step - loss: 0.3925 - accuracy: 0.8160
Epoch 27/50
804/804 [==============================] - 2s 3ms/step - loss: 0.3919 - accuracy: 0.8158
Epoch 28/50
804/804 [==============================] - 2s 3ms/step - loss: 0.3913 - accuracy: 0.8160
Epoch 29/50
804/804 [==============================] - 2s 3ms/step - loss: 0.3910 - accuracy: 0.8167
Epoch 30/50
804/804 [==============================] - 3s 4ms/step - loss: 0.3904 - accuracy: 0.8165
Epoch 31/50
804/804 [==============================] - 3s 4ms/step - loss: 0.3904 - accuracy: 0.8162
Epoch 32/50
804/804 [==============================] - 2s 3ms/step - loss: 0.3903 - accuracy: 0.8176
Epoch 33/50
804/804 [==============================] - 2s 3ms/step - loss: 0.3899 - accuracy: 0.8167
Epoch 34/50
804/804 [==============================] - 2s 3ms/step - loss: 0.3902 - accuracy: 0.8167
Epoch 35/50
804/804 [==============================] - 2s 3ms/step - loss: 0.3890 - accuracy: 0.8168
Epoch 36/50
804/804 [==============================] - 3s 4ms/step - loss: 0.3890 - accuracy: 0.8169
Epoch 37/50
804/804 [==============================] - 3s 3ms/step - loss: 0.3884 - accuracy: 0.8180
Epoch 38/50
804/804 [==============================] - 2s 3ms/step - loss: 0.3886 - accuracy: 0.8179
Epoch 39/50
804/804 [==============================] - 2s 3ms/step - loss: 0.3880 - accuracy: 0.8171
Epoch 40/50
804/804 [==============================] - 2s 3ms/step - loss: 0.3877 - accuracy: 0.8178
Epoch 41/50
804/804 [==============================] - 3s 3ms/step - loss: 0.3883 - accuracy: 0.8175
Epoch 42/50
804/804 [==============================] - 4s 4ms/step - loss: 0.3874 - accuracy: 0.8187
Epoch 43/50
804/804 [==============================] - 2s 3ms/step - loss: 0.3866 - accuracy: 0.8186
Epoch 44/50
804/804 [==============================] - 2s 3ms/step - loss: 0.3874 - accuracy: 0.8186
Epoch 45/50
804/804 [==============================] - 2s 3ms/step - loss: 0.3863 - accuracy: 0.8192
Epoch 46/50
804/804 [==============================] - 2s 3ms/step - loss: 0.3865 - accuracy: 0.8188
Epoch 47/50
804/804 [==============================] - 3s 4ms/step - loss: 0.3863 - accuracy: 0.8187
Epoch 48/50
804/804 [==============================] - 3s 4ms/step - loss: 0.3862 - accuracy: 0.8190
Epoch 49/50
804/804 [==============================] - 3s 3ms/step - loss: 0.3857 - accuracy: 0.8187
Epoch 50/50
804/804 [==============================] - 2s 3ms/step - loss: 0.3857 - accuracy: 0.8190

In [23]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.4719 - accuracy: 0.7984 - 1s/epoch - 4ms/step
Loss: 0.4718829095363617, Accuracy: 0.7983673214912415

In [24]:
# Export our model to HDF5 file
nn.save('AlphabetSoupCharity.h5')

/usr/local/lib/python3.10/dist-packages/keras/src/engine/training.py:3079: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(